.new {
    color: brown;
}
.sale {
    color: goldenrod
}

.wrap {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.navbar-expand-lg {
    flex-flow: nowrap;
    justify-content: space-between;
}

.nav-item {
    padding-right: 18px;
}
.nav-item:last-child {
    padding: 0px;
}